<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KoneksiDB"
			 connectionString="Host=1192.168.1.100;Port=8080;Database=Cantiknya Mahar;Username=postgres;Password=ns4dpn"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"/>
	</connectionStrings>
</configuration>